configuration {
 modi: "window,drun,ssh,combi";
 font: "Fira Mono 12";
 combi-modi: "window,drun,ssh,combi";
 }
//@theme "/home/ndanes/.config/rofi/themes/gruvbox-material.rasi"

//@theme "/usr/share/rofi/themes/material.rasi"

@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
